
{% load tryinclude i18n %}{% load static from staticfiles %}

  <div class="row">
    <div class="cards span3">
    </div>
    <div class="cards span6">
      <section class="card card-list card-list-latest compact">
        <header>
          <h1>כמה הכנסתפתוחה?</h1>
        </header>

        <ul>
          <li>במשך מעל שבע שנים אנחנו מגרדים מידע מהכנסת וזה לא הופך ליותר קל.
          בשם השקיפות, אנחנו מפרסמים מדד לאיכות המידע שנגיש מהכנסת.  הציון
          והתיאור שלהלן מתעדכנים על ידי צותת מפתחי האתר בהתאם למצב.</li>
          <li> {{ dial.description|linebreaks }} </li>
        </ul>

      </section>
    </div>
  </div>
