{% load tryinclude i18n %}{% load static from staticfiles %}

  <div class="row">
    <div class="cards span6">
      <section class="card card-list card-list-latest compact">
        <header>
          <div class="btn-group" style="float:left; margin:5px 8px;">
            <a href="https://www.facebook.com/open.knesset" target="_blank" class="btn">
              <img src="{% static "img/facebook.png" %}" alt="Open Knesset on Facebook">
            </a>
            <a href="https://twitter.com/OKnesset" target="_blank" class="btn">
              <img src="{% static "img/twitter.png" %}" alt="Open Knesset on Twitter">
            </a>
            <a href="mailto:mail@oknesset.org" class="btn">
              <img src="{% static "img/mail.png" %}" alt="Open Knesset email">
            </a>
          </div>
          <h1>{% trans 'About' %}</h1>
        </header>

        <ul>
          <li>באתר תוכלו לראות נתונים אמיתיים: מי הצביע בעד מה, מי יזם, כמה חברי הכנסת נמצאים בדיונים ובוועדות וכו'. המידע מגיע ברובו מאתר הכנסת.</li>
          <li>כנסת פתוחה הוא פרויקט של <a href="http://hasadna.org.il/" target="_blank">הסדנא לידע ציבורי</a> עמותה מבוססת מתנדבים שפועלת לקידום השקיפות ומעורבות אזרחית באמצעות בניית כלים טכנולוגיים בקוד פתוח- אתרים ואפליקציות - לפתיחת והנגשה של הידע המצוי ברשותם של גופי ממשלה ומוסדות ציבור. </li>
          <li>באתר תוכלו למצוא נתונים על פעילות הכנסת ונבחרנו: מי הצביע בעד מה, מי יזם, כמה חברי הכנסת נמצאים בדיונים  ובוועדות וכו'. המידע מגיע ברובו מאתר הכנסת.</li>
          <li>הפרויקט מבוסס בעיקרו על עבודתם של מתנדבים, ולא נתמך על ידי אף גוף מפלגתי.</li>
        </ul>

      <section class="card card-list card-list-latest compact">
        <header><h2 >כנסת פתוחה בתקשורת</h2></header>
        <ul>
          <li>9.11.2015 <a href="https://www.youtube.com/watch?v=lMGt49MHT6s" target="_blank"> כנסת פתוחה במבט לחדשות</a>.</li>
          <li>19.6.2015 <a href="http://www.nrg.co.il/online/1/ART2/702/995.html" target="_blank"> מקור ראשון - ביום עובדים בהיי-טק, בלילה חושפים מידע ממשלתי </a>.</li>
          <li>1.2.2015 <a href="https://www.youtube.com/watch?v=LgpBnlwF1Z0"target="_blank"> משרד החינוך - שידור מיוחד לקראת הבחירות </a>.</li>
          <li>10.7.2013 <a href="http://www.blacklabor.org/?p=52589" target="_blank">עבודה שחורה - מה עשו בשבילנו חברי הכנסת - עדכונים מכנסת פתוחה</a>.</li>
          <li> 9.3.2013: <a href="http://www.nrg.co.il/online/1/ART2/504/607.html" target="_blank">מעריב - המהפכות החברתיות של תשע"ג - כנסת פתוחה כמחוללת שינוי</a>.</li>
          <li>15.10.2012: <a href="http://www.kikarhashabat.co.il/חכי-יהדות-התורה-מהמצטיינים.html" target="_blank">כנסת פתוחה באתר 'כיכר השבת'</a>.</li>
          <li>22.2.2011: <a href="http://news.israelinfo.ru/technology/36229" target="_blank">כתבה באתר החדשות israelinfo.ru (ברוסית)</a>.</li>
          <li>11.08.2010: <a href="http://23tv.co.il/241-he/Tachi.aspx" target="_blank">השתתפנו בתכנית 'עושים סדר' עם גל גבאי</a>.</li>
          <li> 10.08.2010: <a href="http://tech.walla.co.il/?w=/4007/1720157" target="_blank">וואלה כתבה של גיא גרימלנד שהתפרסמה ב </a>.</li>
          <li>27.04.2010: <a href="http://www.ynet.co.il/articles/0,7340,L-3880950,00.html" target="_blank">כתבה של אהוד קינן ב- ynet.</a>.</li>
          <li>12.04.2010 <a href="http://www.talyaron.com/2010/04/12/democracy/" target="_blank">כתבה של טל ירון בבלוג שלו</a>.</li>
        </ul>
      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2 >אתרים דומים בעולם</h2></header>
        <ul>
          <li><a href="http://www.opencongress.org" target="_blank">Open Congress</a> בארצות הברית</li>
          <li><a href="http://www.publicwhip.org.uk" target="_blank">The Public Whip</a> בבריטניה</li>
          <li><a href="http://openparliament.ca" target="_blank">Open Parliament</a> בקנדה</li>
        </ul>
      </section>
    </div>

    <div class="cards span6">
      <section class="card card-list card-list-latest compact">
        <header><h2>אני רוצה לעזור בתוכן ופעילות האתר!</h2></header>
        <ul>
          <li>ראשית יש <a href="/users/create/?next=/" >להרשם לאתר</a> כדי לבצעת את הפעולות הבאות:</li>
          <li>
            <h3>תיוג הצעות חוק והצבעות</h3>
            <ul>
              <li>להכנס <a href="/bill/" >הצעות חוק</a> או <a href="/vote/" >הצבעות</a>.</li>
              <li>לבחור הצעת חוק או הצבעה מהרשימה.</li>
              <li>ללחוץ על הקישור "עריכת תגיות".</li>
              <li>לבחור את התגיות המתאימות לנושא ההצעה או ההצבעה.</li>
            </ul>
          </li>
          <li>
            <h3 >ניהול אג'נדות</h3>
            <ul>
              <li>מידע נוסף בעמוד <a href="http://oknesset.org/agenda">אג'נדות</a>.</li>
            </ul>
          </li>
          <li>
          <li>
            <h3 >מדיה חברתית</h3>
            <ul>
                <li>ניתן להצטרף לקבוצה של כנסת פתוחה ב<a href="http://www.facebook.com/open.knesset" target="_blank">פייסבוק</a> ולהזמין חברים.</li>
                <li>לעקוב אחרינו ב<a href="http://twitter.com/oknesset" target="_blank">טוויטר</a>.</li>
                <li>לכתוב על הפרויקט בבלוג שלכם, או בתגובות לכתבות רלוונטיות בעיתונים השונים.</li>
            </ul>
          </li>
        </ul>
      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2>אני רוצה לעזור בפיתוח האתר!</h2></header>
        <ul>
            <li>הפיתוח מתבצע ב־<a href="https://github.com/hasadna/Open-Knesset" target="_blank">Github</a>.</li>
            <li>
              עקבו אחר <a href="http://oknesset-devel.readthedocs.org" target="_blank">המדריך המיועד למפתחים</a>
              אשר ילווה אתכם בתהליך יצירת עותק משלכם בגיטהאב, התקנת סביבת הפיתוח
              במחשב שלכם ונהלי עבודה.
            </li>
            <li>
                ב־Github תמצאו <a href="https://github.com/hasadna/Open-Knesset/issues?state=open" target="_blank">באגים, מטלות ובקשת תכונות</a>.
                תוכלו לבחור אחד מהם ולהתחיל לעבוד עליו. נא לציין בתגובות לנושא
                הנבחר כי אתם עובדים על זה. אם אתם מתחילים חפשו כאלה המתוייגים
                כ<a href="https://github.com/hasadna/Open-Knesset/issues?labels=Suiteable+as+first+task&amp;page=1&amp;state=open" target="_blank">מתאימים בתור משימה ראשונה</a>.
            </li>
            <li>
                <h3>ממשק למשיכת מידע מהאתר (API)</h3>
                <p>מתועד ב־<a href="http://oknesset-api.readthedocs.org/" target="_blank">Open Knesset API and embedding</a>.</p>
            </li>
        </ul>
      </section>

      <section class="card card-list card-list-latest compact">
        <header><h2>מידע טכני</h2></header>
        <ul>
            <li>{% try_to_include "last_build.txt" %}</li>
        </ul>
      </section>


      <section class="card card-list card-list-latest compact">
        <header><h2>תודות</h2></header>
        <ul>
            <li>אתר כנסת פתוחה מתאפשר הודות לתרומתם של מתנדבים מסורים – חרשי תוכנה, מעצבים, כותבים, כלכלנים, פעילים של קשרי ממשל ועוד.</li>
           <li>השרתים עליהם יושב האתר וכן חלק מעבודת התשתית ממומנים על ידי הסדנא לידע ציבורי.<a href="http://www.hasadna.org.il/about-us/%D7%9E%D7%A7%D7%95%D7%A8%D7%95%D7%AA-%D7%9E%D7%99%D7%9E%D7%95%D7%9F/="_blank>למקורות המימון של הסדנא.<a/></li>
        </ul>
      </section>
    </div>
  </div>
